* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.jumbotron {
    background-color: rgba(115, 13, 211, 0.664);
}
.jumbotron {
    color: whitesmoke;
}

footer {
    margin-top: 50px;
    padding-top: 50px;
    background-color: rgb(202, 199, 199);
}
.about {
    padding-top: 50px;
}
